:root {
  --base-color: blue;
  font-size: 10px; }

body {
  color: var(--base-color);
  font-size: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  height: 2000px; }

input,
textarea,
button {
  font-family: "Montserrat", sans-serif; }

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 70px);
  background-color: purple;
  padding: 20px;
  height: 300px;
  column-gap: 20px;
  row-gap: 20px; }
  @media screen and (min-width: 640px) {
    .navigation {
      display: none; } }
  .navigation__link {
    background-color: yellowgreen; }
    .navigation__link--red {
      background-color: red; }
    .navigation__link--red {
      background-color: #10da39; }
    .navigation__link--flex {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex: false;
      flex: false;
      gap: 20px; }

.flex-center-both {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: false;
  flex: false; }

.link {
  background-color: orange; }
  .link:nth-child(even) {
    background-color: red; }
