/*Ovo su stilovi za <body> element i sve unutar njega*/

body {
  color: red;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  height: 2000px;
}

input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center; /*glavna os*/
  align-items: center; /*sporedna os*/
  flex-wrap: wrap; /*Prelomi u novi red ako ne može stati*/
  background-color: purple;
  padding: 20px;
  height: 300px;
}

.link {
  background-color: orange;
}

.flex-center-both {
  display: flex;
  justify-content: center; /*glavna os*/
  align-items: center; /*sporedna os*/
}
